<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5 class="text-light">Email :</h5>
          <p class="paragraph-lg font-secondary">{{site.Params.email}}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Téléphone :</h5>
          <p class="paragraph-lg font-secondary">{{site.Params.phone}}</p>
        </div>
        <div class="col-md-4">
          <h5 class="text-light">Adresse :</h5>
          <p class="paragraph-lg font-secondary">{{site.Params.address}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top text-center py-5">
    <p class="mb-0 text-light">{{ site.Params.copyright | markdownify }}</p>
  </div>
</footer>
<!-- /footer -->


{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
